#if len($summary) > 0
#summary $summary
#end if
#if len($labels) > 0
#labels #for $l in $labels #$l #end for #
#end if

= $filename =

$briefdescription

#if len($functions) > 0
== Functions ==

#for $f in $functions
$f.sig
#if $f.brief is not None
  *$f.brief*
#end if
#end for

#end if
== Detailed Description ==

$briefdescription
$detaileddescription

#if len($functions) > 0
== Function Documentation ==

#for $f in $functions
$f.doc
#end for
#end if
