{{{
#$f.type $f.name   (
#set $i = 0
#for ($type, $declname) in $f.params
  $type $declname#
#if $i < len($f.params) - 1
,
#end if
#set $i = $i + 1
#end for
  )
}}}
  $f.brief
  $f.detailed

#if len($f.params) > 0
*Parameters*:
  a   And two parameters. 
  b   Here's the second. 
#end if
#if $f.type
*Returns*:
  And a return value!
#end if
